In [5]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import sqlite3

In [10]:
start = datetime.datetime(2010, 1, 1)
end = datetime.datetime(2016, 6, 12)
df = web.DataReader("078930.KS", "yahoo", start, end)

In [12]:
df.head(20)

               High      Low     Open    Close     Volume     Adj Close
Date
2010-01-04  34050.0  33500.0  33500.0  33750.0   237735.0  26427.386719
2010-01-05  34500.0  33600.0  33950.0  33900.0   440485.0  26544.845703
2010-01-06  34900.0  33900.0  33900.0  34250.0   534581.0  26818.904297
2010-01-07  35100.0  34300.0  34350.0  34600.0   543769.0  27092.962891
2010-01-08  35100.0  34200.0  34700.0  34450.0   553288.0  26975.513672
2010-01-11  35250.0  34650.0  34700.0  34800.0   553690.0  27249.568359
2010-01-12  35000.0  33700.0  34900.0  34100.0   379617.0  26701.451172
2010-01-13  35100.0  34200.0  34200.0  34600.0   757416.0  27092.962891
2010-01-14  36150.0  34750.0  35000.0  35550.0  1369075.0  27836.851562
2010-01-15  37500.0  35500.0  35550.0  37500.0   913228.0  29363.761719
2010-01-18  37700.0  37050.0  37200.0  37450.0   487516.0  29324.615234
2010-01-19  38700.0  37200.0  37600.0  37850.0   869140.0  29637.826172
2010-01-20  38000.0  36500.0  37750.0  36700.0   518634.0  28737.339844
2010-01-21  37650.0  35950.0  36450.0  37500.0   492070.0  29363.761719
2010-01-22  37250.0  35500.0  36800.0  35500.0   757846.0  27797.699219
2010-01-25  35050.0  34150.0  34900.0  34650.0   663454.0  27132.119141
2010-01-26  35200.0  34250.0  34800.0  34750.0   419679.0  27210.423828
2010-01-27  36350.0  34400.0  34950.0  35350.0   768301.0  27680.242188
2010-01-28  35950.0  35250.0  35700.0  35500.0   341701.0  27797.699219
2010-01-29  35200.0  33900.0  35000.0  34550.0   498920.0  27053.816406

In [13]:
con = sqlite3.connect("D:/Programming/My_DB/kospi.db")

In [15]:
df.to_sql('078930', con, if_exists='replace')